{% load static %}
<!doctype html>
<html>
  <head>
    <title>Technology-BBC News</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bbc.css' %}">
  <body>
    <div id="top-bar">
      <img id="logo" src="images\bbc-logo.png">
      <div id="signin-div" class="top-bar">
        <img id="singin-image" src="images\signinimage.jpg">
        <span id="signin-text">Sign in</span>
      </div>
        <div id="bell-div">
          <img id="border" src="images\border.jpg">
          <img id="bell" src="images\bell.jpg">
        </div>
        <div class="top-bar topbar-section">
          NEWS
        </div>
        <div class="top-bar topbar-section">
          Sport
        </div>
        <div class="top-bar topbar-section">
          Weather
        </div>
        <div class="top-bar topbar-section">
          Shop
        </div>
        <div class="top-bar topbar-section">
          Earth
        </div>
        <div class="top-bar topbar-section">
          Travel
        </div>
        <div class="top-bar topbar-section">
          More
          <img id="down" src="images\down.jpg">
        </div>
        <div class="top-bar">
          <input id="search-box" type="text" name="" value="Search">
          <input type="image" id="glass" src="images\glass2.jpg" alt="">
        </div>
{% block content %}


{% endblock %}
</div>
<div class="mysummary">
  <p>So Happy that I could finish this copy of the BBC website, it was a very challenge first time website challenge
    I am quite happy about this work, but as you may see the way is still very long to achieve perfection, let keep the journey
  </p>
</div>
</body>
</html>
